<div class="zurb-footer-bottom">
  <div class="row">
    <div class="eight columns">
        <a href="#" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
       </ul>
       <p class="copyright">© 2013 GradTest Pty Ltd. All rights reserved.</p>
    </div>
    <div class="four columns">
      <ul class="home-social">
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="mail"></a></li>
        </ul>
     </div>
               
  </div>
</div>